    @font-face {
        font-family: 'CircularSTD';
        src: url('font/circular-std-medium-500.ttf');
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'CircularSTD', sans-serif;
    }
    
    td {
        vertical-align: middle;
    }